/*  your css code here. If applicable */
.hero{
	display:flex;
	align-items:flex-start;
	justify-content:flex-start;
}

img{
	width:200px;
	height:170px;
	object-fit:cover;
}

button{
	padding:2px;
	background-color:red;
	border-radius:5px;
}

